<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" id="modalCSS" href="styles/modal.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Admin Page</h1>
    <% if (data.length == 0) {%>
    <div>No purchases!</div>
    <% } %> <% for (let i = 0; i < data.length; i++) { %>
    <section class="entry">
      <div><%= data[i].user_id %></div>
      <div><%= data[i].username %></div>
      <div><%= data[i].user_password %></div>
      <div><%= data[i].account_created %></div>
      <div><%= data[i].products_selected %></div>
      <hr />
    </section>
    <% } %>
  </body>
</html>
