<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modal.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <section class="cosmetic">
          <img src="images/partpicker.png" alt="Picture of PC" />
        </section>

        <section class="login">
          <% if (login.username) { %>
          <p>Welcome, <%= login.username %>!</p>
          <form action="/logout" method="post">
            <button type="submit" class="logoutButton">Sign Out</button>
          </form>
          <% } else { %>
          <p>Not currently logged in</p>
          <button id="myBtn" class="loginButton">Login</button>
          <div id="myModal" class="modal">
            <form action="/login" method="post">
              <div class="modal-content">
                <span class="close">&times;</span>
                <label><b>Username</b></label>
                <input
                  type="text"
                  placeholder="Enter Username"
                  name="userName"
                  required
                />
                <label><b>Password</b></label>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="passWord"
                  required
                />
                <button type="submit" class="loginButton">Login</button>
              </div>
            </form>
          </div>
          <% } %>
          <form action="/" method="get">
            <button type="submit">Continue Shopping</button>
          </form>
        </section>
      </header>

      <main>
        <% if (parts.length == 0) { %>
        <p>Your cart is empty!</p>
        <% } else { %>
        <ul>
          <% for (let i = 0; i < parts.length; i++) { %>
          <li>
            <div class="items" id="<%= parts[i].id %>">
                <div class="itemPic">
                    <img src="<%= parts[i].img_url %>" alt="<%= parts[i].part_name %>" />
                </div>
                <div class="nameDesc">
                    <h2><%= parts[i].part_name %></h2>
                    <p><%= parts[i].content %></p>
                </div>
                <div class="price">
                    <p>$<%= parts[i].price %></p>
                </div>
          </li>
          <% } %>
        </ul>
        <% } %>
      </main>

      <aside>
        <% priceTotal = 0 %>
        <% for (let i = 0; i < parts.length; i++) { %>
        <% priceTotal += Number(parts[i].price) %>
        <p>Item: <%= parts[i].part_name %></p>
        <p>Price: <%= parts[i].price %></p>
        <br>
        <br>

        <% } %>
        <h2>Total Cost: <%= priceTotal %></h2>

      </aside>
    </div>
  </body>
  <script src="scripts/tocart.js" defer></script>
  <script src="scripts/login.js" defer></script>
</html>
