<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCPickr</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modal.css" />
    <link rel="stylesheet" href="styles/collapsible.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <section class="cosmetic">
          <form action="/" method="get"><button id = "goHome"><img src="images/partpicker.png" alt="Partpickr logo" class="logo"></button></form>
        </section>

        <section class="registration">
          <% if (login.username) { %>
          <p>Welcome, <%= login.username %>!</p>
          <form action="/logout" method="post">
            <button type="submit" class="logoutButton">Sign Out</button>
          </form>
          <% } else { %>
          <p>Not currently logged in</p>
          <button id="myBtn" class="loginButton">Login</button>

          <div id="myModal" class="modal">
            <form action="/login" method="post">
              <div class="modal-content">
                <span class="close">&times;</span>
                <div id = "login">
                  <label><b>Username:</b></label>
                  <input
                    type="text"
                    placeholder="Enter Username"
                    name="userName"
                    required
                  />
                  <label><b>Password:</b></label>
                  <input
                    type="password"
                    placeholder="Enter Password"
                    name="passWord"
                    required
                  />
                  <% if (error) { %>
                  <p class="error"><%= error %></p>
                  <% } %>
                  <button type="submit" class="loginButton">Login</button>
                  <button id = "signUpChange">Don't have an account?</button>
                </form>
              </div>

            <div id = "signUp">
              <form action="/register" method="post">
                <label><b>Username:</b></label>
                <input
                  type="text"
                  placeholder="New Username"
                  name="userName"
                  required
                />
                <label><b>Password:</b></label>
                <input
                  type="password"
                  placeholder="New Password"
                  name="passWord"
                  required
                />
                <% if (error) { %>
                <p class="error"><%= error %></p>
                <% } %>
                <button type="submit" class="signUpButton">Signup</button>
                <button id = "signInChange">Have an account?</button>
              </form>
            </div>

          </div>
          <% } %>
        </section>
        <form action="/cart" method="post">
          <button type="submit" id="cartButton">View Shopping Cart</button>
        </form>
      </header>

      <main>
        <% if (parts.length == 0) { %>
        <div class="items">
          <div class="itemPic">
            <img src="/images/case_example.jpg" alt="A PC case" />
          </div>
          <div class="nameDesc noHover">
            <h2>Can't Find what you are looking for?</h2>
            <p>Try adjusting your filters to refine your search!</p>
          </div>
        </div>
        <% } else if (parts.length <= 9) { %> <% for (let i = 0; i <
        parts.length; i++) { %>
        <div class="items" id="<%= parts[i].id %>">
          <div class="itemPic">
            <img src="<%= parts[i].img_url %>" alt="A PC case" />
            <%#= console.log(parts[i].img_url) %> <%# prints undefined %>
            <%#= console.log(parts) %>            <%# prints array items of "parts", issue is no row for img_url%>
          </div>
          <div class="nameDesc">
            <h2><%= parts[i].part_name %></h2>
            <p class = "description"><%= parts[i].content %></p>
          </div>
          <div class="price">
            <p>$<%= parts[i].price %></p>
          </div>
          <button class="addToCartBtn">+</button>
          <div id="popup" class="popup">
            <div class="popup-content">
              <p>Item added to cart!</p>
              <button id="closePopup">Close</button>
            </div>
          </div>
        </div>
        <% } %> <% } %> <% if (parts.length > 9) { %> <% for (let i = 0; i < 9;
        i++) { %>
        <div class="items" id="<%= parts[i].id %>">
          <div class="itemPic">
            <img src="<%= parts[i].img_url %>" alt="A PC case" />
          </div>
          <div class="nameDesc">
            <h2><%= parts[i].part_name %></h2>
            <p class = "description"><%= parts[i].content %></p>
          </div>
          <div class="price">
            <p>$<%= parts[i].price %></p>
          </div>
          <button class="addToCartBtn">+</button>
        </div>
        <% } %>
        <div class="items">
          <div class="itemPic">
            <img src="/images/case_example.jpg" alt="A PC case" />
          </div>
          <div class="nameDesc noHover">
            <h2>Can't Find what you are looking for?</h2>
            <p>Try adjusting your filters to refine your search!</p>
          </div>
        </div>
        <% } %>
      </main>

      <aside>
        <h2>Advanced Filters</h2>
        <form id="filterForm" action="/filtered" method="post">
          <button type="button" class="collapsible">Component</button>
          <div class="content">
            <ul>
              <li>
                <label>
                  <input type="checkbox" name="component" value="CPU" />CPU
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="component" value="GPU" />GPU
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="component"
                    value="motherboard"
                  />Motherboard
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="component"
                    value="memory"
                  />Memory
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="component" value="ram" />RAM
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="component" value="Case" />Case
                </label>
              </li>
            </ul>
          </div>
          <button class="collapsible" type="button">Manufacturer</button>
          <div class="content">
            <ul>
              <li>
                <label>
                  <input type="checkbox" name="manufacturer" value="10" />Intel
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="manufacturer" value="11" />AMD
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="manufacturer" value="12" />Nvidia
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="manufacturer" value="13" />NZXT
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="manufacturer" value="14" />HYTE
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="manufacturer"
                    value="15"
                  />Coolermaster
                </label>
              </li>
            </ul>
          </div>
          <button type="submit" class="filterButton">Apply Filters</button>
        </form>
      </aside>

      <footer>
        <hr/>
        <a id="contact-button" href="#" role="button">Contact Us</a>
      </footer>
    </div>
  </body>
  <script src="scripts/login.js" defer></script>
  <script src="scripts/collapsible.js" defer></script>
  <script src="scripts/tocart.js" defer></script>
</html>
